body{
    background-color: rgba(180, 213, 203, 0.614);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

header{
    color: rgb(47, 77, 77);
    text-align: center;
    
}
section{
    background-color: rgba(192, 211, 211, 0.304);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 5px 5px rgba(118, 143, 139, 0.689);
    
}

footer{
    color: rgb(28, 40, 40);
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

input{
    background-color: rgba(226, 243, 243, 0.727);
    color: rgb(11, 58, 40);
}