body{
    background-color: rgba(85, 69, 97, 0.833);
    font: normal 15pt Times;
    
}
header{
    color: azure;
    text-align: center;
}
section{
    background-color: rgba(93, 63, 93, 0.888);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  3px 3px 6px 6px rgba(45, 43, 43, 0.481);
    
}

footer{
    color: azure;
    text-align: center;
    font-style: italic;
}